.cart {
    background: #FF9900;
    color: black;
    height: 100vh;
    padding: 25px;
    position: sticky;
    top: 0;
}

.btn-clear-cart {
    width: 90%;
    height: 56px;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}